<header class="header-3">
  <div class="branding">
    <a href="javascript://" class="nav-link">
      <cds-icon shape="bookmark"></cds-icon>
      <span class="title">Project Clarity</span>
    </a>
  </div>
  <div class="header-nav">
    <a routerLink="/" routerLinkActive="active" class="nav-link nav-text" [routerLinkActiveOptions]="{exact:
true}">
      Home
    </a>
    <a routerLink="whatsapp" routerLinkActive="active" class="nav-link nav-text" [routerLinkActiveOptions]="{exact:
true}">Whatsapp</a>
  </div>
</header>
