<form class="clr-form clr-form-horizontal">
  <div class="clr-form-control">
    <label for="example1" class="clr-control-label">Title</label>
    <div class="clr-control-container">
      <div class="clr-input-wrapper">
        <input type="text" id="example1" placeholder="Placeholder" class="clr-input" />
      </div>
    </div>
  </div>

  <div class="clr-form-control">
    <label for="example2" class="clr-control-label">Description</label>
    <div class="clr-control-container">
      <div class="clr-input-wrapper">
        <input type="text" id="example2" placeholder="Placeholder" class="clr-input" />
      </div>
    </div>
  </div>
</form>
